/* Write your code here. */
.thumbnail-list {
  margin-right: 10px;
}
.btn {
  background-color: transparent;
  border: none;
}
.thumbnail {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.active {
  opacity: 1;
}
